#body{
    width: $iwidth;margin: 0 auto;
    .body_koubei{
        width: 945px;padding-left: 10px;margin: 35px 0;
    }
    h2{
        font-weight: 100;font-size: $font-size+2;margin-bottom: 14px;
        span{
            display: inline-block;width: 118px;height: 14px;background: url(../img/index_icon_new.png) no-repeat -30px -334px;margin-left: 20px;
        }
    }
    .odiv{
        border: #000000 solid 10px;
    }
    .body_fenlei{
        &:after{
            content: "";display: block;clear: both;
        }
    }
}
