.tabBox{
    width: 666px;margin: 0 auto;padding-left: 333px;
    &:after{
        content: "";display: block;clear: both;
    }
}
#regper{
    background: $fcolor;width: 163px;height: 38px;display: block;font-size: $font-size;text-align: center;line-height: 38px;float: left;
}
.login{
    float: right;font-size: $font-size - 4;padding-top: 14px;
    a{
        color: $hoverColor;
    }
}
#perDiv{
    width: 960px;padding: 45px 0 0 40px;margin: 0 auto;background: #FFFFFF url(http://www.xianguozhijia.com/themes/shunfeng/images/pic2.jpg) right 78px no-repeat;min-height: 490px;
    li{
        height: 38px;
        span:nth-of-type(2){
            line-height: 36px;padding-left: 10px;
        }
    }
    .regMb30{
        margin-bottom: 30px;
        
    }
    label{
        width: 118px;height: 38px;line-height: 38px;text-align: right;font-size: $font-size - 2;float: left;
        font{
            color: #ff4800;
        }
    }
    .regM{
        width: 268px;height: 36px;border: 1px solid #CACACA;display: block;float: left;
        .regInput{
            width: 228px;height: 22px;border: none;padding: 7px 5px;
        }
    }
    #pwdStrong{
        padding-left: 222px;font-size: $font-size - 4;margin-top: 5px;
        font{
            float: left;
        }
        em{
            font-style: normal;display: block;background: #c4c4c4;width: 34px;margin-right: 2px;float: left;text-align: center;
        }
    }
    .regPl88{
        padding-left: 88px;
    }
    #sub_per{
        padding-bottom: 30px;height: 38px;
        .registerNow{
            width: 271px;height: 38px;background: url(http://www.xianguozhijia.com/themes/shunfeng/images/reg_btn.jpg) no-repeat;color: #FFFFFF;border: none;
        }
    }
}
